 .welcome{
    text-align: center;
    margin-top: 20px;
} 

.maindiv{
    background-color: white;
    border-radius: 20px;
   
    width: 50%;
    margin:auto;
    margin-top: 50px; 
  
}

.internalDiv{
padding:20%;
} 
.image-upload>input {
    display: none;
  }
.mb-3{
    margin-left: 30px;
}